
.like-bd:after,.like-bd:before{content:" ";
display:table}
.like-bd:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.like-item{-webkit-transition:width .2s;
	-moz-transition:width .2s;
-o-transition:width .2s;
transition:width .2s;
height:362px;
width:440px;
float:left;
overflow:hidden;
background-color:#FFF;
margin-bottom:10px;
*zoom:1}
.like-item:after,.like-item:before{content:" ";
display:table}
.like-item:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.like-item:hover .fic-bottom,.like-item:hover .fic-right,.like-item:hover .fic-top{opacity:1;
	filter:alpha(opacity=100);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
-webkit-transform:opacity .3s;
-moz-transform:opacity .3s;
-ms-transform:opacity .3s;
-o-transform:opacity .3s;
transform:opacity .3s}
.like-item.like-0,.like-item.like-2{margin-right:9px}
.fi-sidebar{float:left;
	width:100px;
background-color:#e9a326}
.fi-sidebar .fi-logo img{width:100px;
	height:100px}
.fi-contain{float:left;
	width:340px;
position:relative}
.fi-contain .fic-bottom,.fi-contain .fic-right,.fi-contain .fic-top{position:absolute;
	line-height:0;
font-size:0;
opacity:.3;
filter:alpha(opacity=30);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(30));
-webkit-transform:opacity .3s;
-moz-transform:opacity .3s;
-ms-transform:opacity .3s;
-o-transform:opacity .3s;
transform:opacity .3s;
z-index:1}
.fi-contain .fic-bottom,.fi-contain .fic-top{border-top:2px solid #f6de58;
	height:0;
width:100%}
.fi-contain .fic-top{top:0}
.fi-contain .fic-bottom{bottom:0}
.fi-contain .fic-right{border-left:2px solid #f6de58;
	width:0;
top:1px;
bottom:1px;
right:0}
.fi-cup{height:201px;
	overflow:hidden}
.fi-cdown{height:160px;
	overflow:hidden}
.fi-cwrap,.fi-dwrap-c{width:100px;
	border-right:1px solid #efefef}
.fi-cwrap a,.fi-dwrap-c a{display:block;
	position:relative;
height:80px;
width:80px;
padding:10px}
.fi-cwrap a img,.fi-dwrap-c a img{width:80px}
.fi-cwrap a span,.fi-dwrap-c a span{position:absolute;
	width:80px;
left:10px;
bottom:10px;
overflow:hidden;
height:20px;
line-height:20px;
background-color:rgba(255,255,255,.8);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff', GradientType=0);
transition:all .2s}
.fi-cwrap a:hover span,.fi-dwrap-c a:hover span{background-color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.fi-dwrap-c a{width:120px;
	height:64px;
padding:8px;
overflow:hidden}
.fi-dwrap-c a img{width:120px;
	height:64px;
min-height:initial}
.fi-dwrap-c a span{left:6px;
	bottom:8px;
width:125px}
.fi-cwrap-d,.fi-dwrap{width:138px;
	border-left:1px solid #efefef}
.fi-cwrap-d a,.fi-dwrap a{display:block;
	height:61px;
padding:9px 9px 10px 10px;
overflow:hidden}
.fi-cwrap-d a strong,.fi-dwrap a strong{display:block;
	margin-top:6px;
width:56px;
overflow:hidden;
height:18px}
.fi-cwrap-d a em,.fi-dwrap a em{display:block;
	width:56px;
overflow:hidden;
height:30px;
line-height:15px;
color:#666;
margin-top:3px}
.fi-banner-l em,.fi-banner-l span{line-height:24px;
	position:absolute}
.fi-cwrap-d a span,.fi-dwrap a span{height:60px;
	width:60px;
overflow:hidden;
float:right}
.fi-cwrap-d a span img,.fi-dwrap a span img{width:60px;
	min-height:60px;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.fi-cwrap-d a:hover img,.fi-dwrap a:hover img,.fi-fl img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s}
.fi-cwrap-d a:hover img,.fi-dwrap a:hover img{transition:all .2s;
	opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.fi-cwrap-d{border-left:none}
.fi-cwrap-d a{height:81px}
.fi-cwrap-d a span{margin-top:22px}
.fi-dwrap-c{width:138px;
	border-left:1px solid #efefef;
border-right:none}
.fi-fl{float:left}
.fi-fl img{transition:all .2s}
.fi-banner-l span,.fi-fl:hover>img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s}
.fi-fl:hover>img{transition:all .2s;
	opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.fi-banner-s{border-right:1px solid #efefef;
	width:100px;
height:205px;
overflow:hidden}
.fi-banner-s img{width:100px;
	height:201px}
.fi-banner-l{position:relative;
	height:140px;
width:201px;
margin:10px 0}
.fi-banner-l img{width:180px;
	min-height:140px}
.fi-banner-l span{width:131px;
	left:10px;
bottom:0;
overflow:hidden;
height:24px;
padding-left:50px;
background-color:rgba(255,255,255,.8);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff', GradientType=0);
transition:all .2s}
.fi-banner-l:hover span,.fi-infos p a span img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s}
.fi-banner-l em{left:0;
	width:50px;
background-color:#e9a326;
color:#fff}
.fi-banner-l i{display:inline-block;
	width:90px;
height:24px;
font-style:normal}
.fi-banner-l strong{display:block;
	height:72px;
overflow:hidden;
margin-left:-50px;
margin-top:-6px;
font-weight:400;
color:#666;
text-align:left;
padding:0 6px}
.fi-banner-l:hover span{background-color:#fff;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
transition:all .2s}
.fi-banner-m,.fi-banner-m>img{width:138px;
	height:201px;
overflow:hidden}
.fi-detail:hover span{background-color:rgba(255,255,255,.8);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff', GradientType=0);
height:87px;
line-height:21px}
.fi-infos p{padding-top:5px;
	height:74px}
.fi-infos p a{float:left;
	margin-left:28px;
width:50px;
height:68px;
line-height:18px;
text-align:center;
color:#666}
.fi-infos p a span{display:block;
	width:50px;
height:50px;
overflow:hidden}
.fi-infos p a span img{height:50px;
	min-height:50px;
transition:all .2s}
.fi-infos p a:hover{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.fi-logo{display:block;
	height:100px;
background-color:#f6de58}
.fi-logo em{display:block;
	position:absolute;
left:-9999px}
.fi-links{height:262px}
.fi-links strong{display:block;
	text-indent:8px;
color:#FFF;
padding-top:8px;
font-size:14px;
margin-bottom:4px}
.fi-links div{overflow:hidden;
	height:217px;
margin:0 0 7px 8px}
.fi-links a{overflow:hidden;
	float:left;
background-color:rgba(255,255,255,.2);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#33ffffff', GradientType=0);
display:inline-block;
height:19px;
line-height:19px;
padding:0 8px;
margin-bottom:3px;
margin-right:3px;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
color:#fff}
.fi-links a:hover{background-color:#FFF;
	color:#f50;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s}
div.tbh-blocks{background-color:transparent;
	margin-bottom:-3px}
.blocks{margin-right:-10px}
.blocks-hd{position:relative;
	background-position:center center;
background-repeat:no-repeat;
height:37px}
.blocks-hd em{text-indent:-9999px;
	display:block}
.blocks-hd a{border-radius:10px;
	background:#fff;
line-height:20px;
height:20px;
padding:0 9px 0 14px;
position:absolute;
right:12px;
bottom:4px;
font-weight:400;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-hd a .tb-icon{font-size:12px}
.blocks-hd a:hover{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
background:#f40;
color:#FFF}
.block-title{border-bottom:1px solid #f0f0f0}
.block-title a img{height:18px}
.blocks-bd{width:892px;
	*zoom:1}
.blocks-bd:after,.blocks-bd:before{content:" ";
display:table}
.blocks-bd:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-item{width:221px;
	height:258px;
overflow:hidden;
background-color:#FFF;
margin-bottom:10px;
border-right:2px solid #eaeaea;
float:left}
.blocks-item h3{height:18px;
	width:115px;
text-align:center;
margin:10px auto;
*zoom:1}
.blocks-item h3:after,.blocks-item h3:before{content:" ";
display:table}
.blocks-item h3:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-item h3>img{max-width:83px;
	height:18px}
.blocks-item-3,.blocks-item-7{border-right:none}
.blocks-item-bg{background-repeat:no-repeat;
	background-position:top left;
background-size:222px 38px}
.blocks-item-bg h3{border-bottom-color:transparent}
.blocks-qr{float:right;
	width:18px;
height:18px;
position:relative;
top:-10px;
-webkit-transition:color .2s;
-moz-transition:color .2s;
-o-transition:color .2s;
transition:color .2s}
.blocks-qr .tb-icon{font-weight:400;
	color:#ccc;
font-size:24px;
cursor:pointer}
.blocks-qr span{position:absolute;
	left:-17px;
top:20px;
opacity:0;
filter:alpha(opacity=0);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
z-index:-1;
width:66px;
height:80px;
padding:10px;
background-color:#FFF;
border:1px solid #f0f0f0;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s}
.blocks-qr span em{position:absolute;
	left:0;
right:0;
bottom:3px;
text-align:center;
color:#666;
font-weight:400}
.blocks-qr span img{width:66px;
	height:66px}
.blocks-qr:hover .tb-icon{color:#F40;
	-webkit-transition:color .2s;
-moz-transition:color .2s;
-o-transition:color .2s;
transition:color .2s}
.blocks-qr:hover span{top:32px;
	-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
opacity:1;
filter:alpha(opacity=100);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
z-index:5}
.blocks-thumb3 .blocks-contain,.blocks-thumb4 .blocks-contain{padding-left:1px;
	position:relative;
right:-1px;
*zoom:1}
.blocks-contain{width: 216px;
}
.blocks-thumb3 .blocks-contain:after,.blocks-thumb3 .blocks-contain:before,.blocks-thumb4 .blocks-contain:after,.blocks-thumb4 .blocks-contain:before{content:" ";
display:table}
.blocks-thumb3 .blocks-contain:after,.blocks-thumb4 .blocks-contain:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-thumb3 .blocks-contain a,.blocks-thumb4 .blocks-contain a{float:left;
	width:110px;
height:110px;
border-top:1px solid #f0f0f0;
border-right:1px solid #f0f0f0;
border-bottom:1px solid #f0f0f0;
margin-left:-1px;
position:relative;
margin-top:-1px}
.blocks-thumb3 .blocks-contain a img,.blocks-thumb4 .blocks-contain a img{width:90px;
	height:90px;
padding:10px}
.blocks-thumb3 .blocks-contain a span,.blocks-thumb4 .blocks-contain a span{position:absolute;
	left:10px;
bottom:10px;
height:20px;
right:10px;
line-height:20px;
text-align:center;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
background-color:rgba(255,255,255,.8);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccffffff', endColorstr='#ccffffff', GradientType=0);
overflow:hidden}
.blocks-thumb3 .blocks-contain a:hover span,.blocks-thumb4 .blocks-contain a:hover span{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
background-color:#fff;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0)}
.blocks-thumb3 .blocks-contain .thumb3-img2{margin-top:-2px;
	border-top-color:#FFF;
height:111px}
.blocks-thumb3 .blocks-contain .thumb-big{height:220px}
.blocks-thumb3 .blocks-contain .thumb-big img{height:198px;
	width:90px;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-thumb3 .blocks-contain .thumb-big span{height:42px;
	padding:0 6px;
color:#FFF;
text-align:left;
background-color:#f40;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff4400', endColorstr='#ffff4400', GradientType=0)}
.blocks-thumb3 .blocks-contain .thumb-big:hover img{opacity:.8;
	filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-thumb3 .blocks-contain .thumb-big:hover span{color:#FFF;
	background-color:#f40;
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff4400', endColorstr='#ffff4400', GradientType=0)}
.blocks-thumb4 .thumb4-img4{margin-top:-2px;
	border-top-color:#FFF}
.blocks-thumb4 .thumb4-img1,{left:-1px}
.blocks-text .blocks-contain{*zoom:1}
.blocks-text .blocks-contain:after,.blocks-text .blocks-contain:before{content:" ";
display:table}
.blocks-text .blocks-contain:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-text .blocks-contain .btext-box{border-top:1px solid #f0f0f0;
	height:150px;
padding-top:10px;
padding-left:8px;
width:90px;
float:left;
text-align:center;
padding-right:12px;
margin-right:-12px;
margin-top:-1px}
.blocks-text .blocks-contain .btext-box>a{height:90px;
	width:90px;
overflow:hidden;
position:relative}
.blocks-text .blocks-contain .btext-box>a img{height:90px;
	width:90px;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-text .blocks-contain .btext-box>a:hover img{opacity:.8;
	filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80));
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-text .blocks-contain .btext-box strong{display:block;
	font-size:14px;
margin-top:5px;
margin-bottom:4px;
height:21px;
overflow:hidden}
.blocks-text .blocks-contain .btext-box em{display:block;
	height:18px;
overflow:hidden}
.blocks-links{height:55px;
	border-top:1px solid #f0f0f0;
padding-top:6px;
*zoom:1}
.blocks-links:after,.blocks-links:before{content:" ";
display:table}
.blocks-links:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-links a{display:inline-block;
	width:65px;
text-align:center;
float:left;
height:22px;
line-height:22px;
overflow:hidden;
padding:0 4px}
.blocks-thumbtext .blocks-contain{height:221px;
	background-color:#fbd87c;
border-top:1px solid #f0f0f0;
*zoom:1}
.blocks-thumbtext .blocks-contain:after,.blocks-thumbtext .blocks-contain:before{content:" ";
display:table}
.blocks-thumbtext .blocks-contain:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocks-thumbtext .blocks-contain a{margin-top:8px;
	width:110px;
height:108px;
text-align:center;
overflow:hidden;
float:left}
.blocks-thumbtext .blocks-contain a img{height:70px;
	width:70px;
-webkit-border-radius:100%;
-webkit-background-clip:padding-box;
-moz-border-radius:100%;
-moz-background-clip:padding;
border-radius:100%;
background-clip:padding-box;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocks-thumbtext .blocks-contain a strong{font-size:14px;
	display:block;
height:18px;
line-height:18px;
overflow:hidden}
.blocks-thumbtext .blocks-contain a span{display:block;
	height:16px;
line-height:16px;
overflow:hidden}
.blocks-thumbtext .blocks-contain a:hover img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.blocks-thumbtext .blocks-contain .last{height:92px}
.blocks-thumbtext .blocks-contain .last strong{display:none}
div.tbh-blocks-sh{background-color:transparent}
.blocksh{margin-right:-10px}
.blocksh-hd{position:relative;
	background-position:center center;
background-repeat:no-repeat;
height:37px}
.blocksh-hd em{text-indent:-9999px;
	display:block}
.blocksh-hd a{border-radius:10px;
	background:#fff;
line-height:20px;
height:20px;
padding:0 9px 0 14px;
position:absolute;
right:12px;
bottom:4px;
font-weight:400;
-webkit-transition:all .2s;
-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s}
.blocksh-hd a:hover,.bsh-contain img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s}
.blocksh-h  d a .tb-icon{font-size:12px}
.blocksh-hd a:hover{transition:all .2s;
	background:#f40;
color:#FFF}
.blocksh-item,.blocksh-qr span{padding:10px;
	background-color:#FFF}
.blocksh-bd{width:892px;
	*zoom:1}
.blocksh-bd:after,.blocksh-bd:before{content:" ";
display:table}
.blocksh-bd:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.blocksh-item{width:183px;
	height:117px;
margin-bottom:1px;
margin-right:1px;
float:left}
.blocksh-item .start-time{position:absolute;
	left:144px;
top:10px;
overflow:hidden;
line-height:24px;
height:24px;
width:114px;
font-size:14px;
color:#dc3535;
text-align:right}
.blocksh-item .start-time em{font-weight:700}
.blocksh-title img{height:18px;
	position:relative;
top:-5px}
.blocksh-qr{position:relative;
	top:-7px;
width:20px;
height:20px;
margin-left:2px;
-webkit-transition:color .2s;
-moz-transition:color .2s;
-o-transition:color .2s;
transition:color .2s}
.blocksh-qr .tb-icon{font-weight:400;
	color:#ccc;
font-size:22px;
cursor:pointer}
.blocksh-qr span{position:absolute;
	left:-17px;
top:20px;
opacity:0;
filter:alpha(opacity=0);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(0));
z-index:-1;
width:66px;
height:80px;
border:1px solid #efefef;
-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s}
.blocksh-qr span em{position:absolute;
	left:0;
right:0;
bottom:6px;
text-align:center;
color:#666;
font-weight:400}
.blocksh-qr span img{width:66px;
	height:66px}
.blocksh-qr:hover .tb-icon{color:#F40;
	-webkit-transition:color .2s;
-moz-transition:color .2s;
-o-transition:color .2s;
transition:color .2s}
.blocksh-qr:hover span{top:32px;
	-webkit-transition:all .3s;
-moz-transition:all .3s;
-o-transition:all .3s;
transition:all .3s;
opacity:1;
filter:alpha(opacity=100);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
z-index:5}
.bsh-contain{overflow:hidden;
	*zoom:1}
.bsh-contain:after,.bsh-contain:before{content:" ";
display:table}
.bsh-contain:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.bsh-contain.render-per .name-link{display:block;
	line-height:16px;
font-size:12px;
color:#666;
margin-top:2px;
width:148px}
.bsh-contain.render-per .name-link h4{height:32px;
	overflow:hidden;
font-weight:400;
color:#4c4d4e}
.bsh-contain.render-per .price{margin-top:10px;
	line-height:18px;
font-size:18px;
font-weight:400;
color:#dc3535}
.bsh-contain.render-per .price span{display:inline;
	font-family:"Microsoft Yahei";
font-size:16px}
.bsh-contain.render-per .sold-count{font-size:12px;
	line-height:14px;
color:#999;
font-weight:400}
.bsh-contain span,.btqg-item p{font-weight:700}
.bsh-contain em,.bsh-contain span{display:block;
	width:82px;
line-height:18px;
height:18px;
font-size:14px;
overflow:hidden}
.bsh-contain em{color:#666}
.bsh-contain .bsh-btn{display:block;
	font-size:12px;
height:20px;
line-height:20px;
width:74px;
text-align:center;
border:1px solid #F40;
color:#F40;
overflow:hidden;
margin-top:15px;
-webkit-border-radius:12px;
-webkit-background-clip:padding-box;
-moz-border-radius:12px;
-moz-background-clip:padding;
border-radius:12px;
background-clip:padding-box}
.bsh-contain img{width:90px;
	height:90px;
float:right;
transition:all .2s}
.bsh-contain:hover img,.btqg-item a img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s}
.bsh-contain:hover img{transition:all .2s;
	opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.blocksh-stretch{width:253px;
	padding-left:15px;
position:relative}
.blocksh-stretch .bsh-contain em,.blocksh-stretch .bsh-contain span{width:140px}
.btqg-time{position:absolute;
	right:20px;
top:8px;
font-size:14px;
color:#ff3131}
.btqg-item a{display:block;
	margin-bottom:20px;
height:90px;
*zoom:1;
overflow:hidden}
.btqg-item a:after,.btqg-item a:before{content:" ";
display:table}
.btqg-item a:after{height:0;
	line-height:0;
visibility:hidden;
clear:both}
.btqg-item a img{float:right;
	width:90px;
height:90px;
margin-right:10px;
transition:all .2s}
.btqg-item a:hover img{-webkit-transition:all .2s;
	-moz-transition:all .2s;
-o-transition:all .2s;
transition:all .2s;
opacity:.8;
filter:alpha(opacity=80);
-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=(80))}
.btqg-item p{height:32px;
	line-height:16px;
overflow:hidden;
margin-bottom:6px;
color:#666}
.btqg-item em{font-family:tohama,'Microsoft Yahei';
font-size:18px;
color:#dc3535;
display:block}
.btqg-item strong{color:#666;
	font-weight:400;
font-size:12px;
margin-top:-4px;
display:block}
